body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}



.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.profile-image-wrapper img {
   width: 50%;
    padding-left: 120px;

}

.addressemail{
	color:black;
        font-size: 15px;
}


.profile-content-wrapper {
	padding: 30;
  padding-right: 130px;
  padding-top: 60px;

width: 45em;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}

.profile-content-wrapper a:link{
	color: lightseagreen;
}

.profile-content-wrapper a:visited{
	color: lightseagreen;
}

.profile-content-wrapper a:hover{
	color: darkseagreen;
}

.profile-content-wrapper a:active{
	color: darkseagreen;
}


.media.stream-item {
	padding: 50px;
  margin-bottom: 2rem;
}

.media.stream-item .article-title {
  font-size: 1.2rem;
}

.media.stream-item .article-style {
  margin-top: 2px;
  font-size: 0.8rem;
}

.media.stream-item .stream-meta {
  margin-top: 12px;
}

.media.stream-item img {
  max-width: 150px;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .media.stream-item img {
    max-width: 40px;
  }
}

.media-body{
	display: flex;
}

  .media.stream-item .media-body .ml-3 img {
  width: 75%;
  padding-left: 120px;
}





#profile {
  text-align: center;
  padding: 30px 10px;
  padding-top: 60px;
  position: relative;
}

#profile .portrait {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

#profile .portrait-title h2 {
  font-size: 1.25em;
  font-weight: 300;
  color: #000000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0,0,0, 0.54);
  margin: 0px 0 5px 0;
}




ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-right:40px;
}

#profile .network-icon {
  margin-top: 30px;
}

.network-icon li {
  margin-right: 10px;
}

.network-icon li:last-of-type {
  margin-right: 0;

}

.network-icon li:hover {
  transform: scale(1.2);
}

.big-icon {
  font-size: 1.5rem;
}
 

.stream-meta.article-metadata {
  margin-bottom: 5px;
}


.article-metadata {
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(0,0,0,0.54);
}

.btn {
  padding: .5rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .3rem;
}





